*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    text-decoration: solid;
}
body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color
    :#303946;
}
.calculator{
    border: 1px solid #717377;
    padding:20px;
    border-radius: 16px;
background: transparent;
box-shadow:0px 3px 15px rgba(11, 115, 119, 0.5);

}
input{
    width:320px;
    border:3px solid black;
    padding:24px;
    margin:10px;
    background: transparent;
    background-color: rgba(233, 229, 224, 0.438);
    box-shadow:0px 3px 15px rgbs(85,86,84,0.1);
font-size: 40px;
text-align: right;
cursor:pointer;
}
input::placeholder{
 color:#ffffff;   
}
button{
    border:1px solid rgba(199, 8, 8, 0.055);
    width:60px;
    height:60px;
    margin:10px;
   color:white;
   background: transparent;
   font-size: 20px;
    background-color: rgba(0, 10, 19, 0.753);
    box-shadow: -8px -8px 15px rgba(255, 245, 169, 0.1);
cursor:pointer;
}
.eqlbtn{
    background-color:green ;
}
.operator{
    color:green ;
}